<header>
  <h1> Hello </h1>

  <! It is calling the function uCase defined in server.js. It takes a parameter, so in this case, the pageTitle is >
  <! the parameter>
  <h1>{{uCase pageTitle}} </h1>
  <p><a href="/"> Home </a></p>
  <p><a href="/about"> About</a></p>
</header>
