<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>About Page </title>
  </head>

  <body>
  {{> header}}
    <p> Some text here </p>

  <! It is the partials, that the footer defined in the foot.hbs>
  {{> footer}}

  </body>


</html>
